.header{
    background-image: url("../assets/img/representacion-del-sistema-solar_05b5a6b3_1200x630.png");
    background-repeat:repeat;
    background-attachment:fixed;
    position: absolute;
    width: 1440px;
    height: 152px;
    left: 0px;
    top: 0px;
}
#logo{
    position: absolute;
    width: 258px;
    height: 112px;
    left: 54px;
    top: 36px;

    font-family: 'Bungee Color';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #FFFFFF;
}
#navigation{
    position: absolute;
    width: 905px;
    height: 51px;
    left: 353px;
    top: 58px;
}
.nav-links{
    font-family: 'BioRhyme';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;

    color: #FFFFFF;
}
#nav-item1{
    position: absolute;
    width: 63px;
    height: 46px;
    left: 353px;
    top: 58px;
}
#nav-item2{
    position: absolute;
    width: 117px;
    height: 46px;
    left: 464px;
    top: 58px;
}
#nav-item3{
    position: absolute;
    width: 243px;
    height: 51px;
    left: 596px;
    top: 58px;
}
#nav-item4{
    position: absolute;
    width: 223px;
    height: 44px;
    left: 863px;
    top: 58px;
}
#nav-item5{
    position: absolute;
    width: 141px;
    height: 37px;
    left: 1117px;
    top: 58px;
}
#seccion1{
    background-image: url("../assets/img/tierra_v2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 152px;
}
#seccion2{
    background-image: url("../assets/img/marte.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /*position: absolute;*/
    width: 1440px;
    height: 1024px;
    /*left: 0px;
    top: 1176px;*/
}
#seccion3{
    background-image: url("../assets/img/jupiter_v2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 2200px;
}
article{
    border: double 1px white;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
    ;
}
#tierra{
    position: absolute;
    width: 570px;
    height: 716px;
    left: 95px;
    top: 293px;
}
#marte{
    position: absolute;
    width: 458px;
    height: 717px;
    left: 932px;
    top: 1316px;
}
#jupiter{
    position: absolute;
    width: 477px;
    height: 820px;
    left: 37px;
    top: 2314px;
}
.footer{
    background-image: url("../assets/img/estrellas.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    width: 1440px;
    height: 149px;
    left: 0px;
    top: 3224px;
}
#sign {
    position: absolute;
    width: 489px;
    height: 61px;
    left: 90px;
    top: 50px;
    font-family: 'BioRhyme';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    color: #ffffff;
}
#socialmedia{
    position: absolute;
    width: 310px;
    height: 93px;
    left: 839px;
    top: 3251px;
}
#instagram{
    position: absolute;
    width: 90px;
    height: 91px;
    left: 839px;
    top: 3252px;
}
#twitter{
    position: absolute;
    width: 88px;
    height: 91px;
    left: 952px;
    top: 3252px;
}
#facebook{
    position: absolute;
    width: 83px;
    height: 93px;
    left: 1066px;
    top: 3251px;
}
#socialmedia a img{
    width: 24px;
    height: 24px;
    position: relative;
    top: -6400px;
    left: -600px;
}