.lunas-body{
    background-image: url("../assets/img/luna.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .lunas-header-conteiner {
        @extend .header-conteiner;
        #logo{@include logo-style-white};
        #navigation .nav-links{
            color: cyan;
            li a{&:hover{@include logo-style-white}}
        }
    }
    .lunas-main-conteiner{
        width: auto;
        height: 590px;
        .lunas-article{
            background-color: rgba(255, 255, 255, 0.2);
            margin: 0% 10% 0% 5%;            
            padding: 1%;
            border: double 1px white;            
            border-radius: 1rem;
            width: 900px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: white;
        }
    }
    .lunas-footer-conteiner{
        @extend .footer-conteiner;
        background-color: rgba(0, 0, 0, 0.5);
        border: double 3px white;
        border-radius: 1rem;
    }
}
/****** MOBILE RESPONSIVE 768px ******/ 
@media (max-width: 768px){
    .lunas-body {
        .lunas-main-conteiner{
            height: auto;
            margin: 12px;
            .lunas-article{
                margin: 10%;
                border: double 1px white;
                width: auto;                
                font-family: 'Inter';
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 30px;
                color: #FFFFFF;
            }
        }
    }
}

/****** MOBILE RESPONSIVE 425px ******/ 
@media (max-width: 425px){
    .lunas-body{
        background-image: url("../assets/img/lunas_responsive.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        .main-conteiner-lunas{
            height: auto;
            margin: 12px;
            .lunas-article{
                margin: auto;
                border: double 1px white;
                width: auto;                
                font-family: 'Inter';
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 30px;
                color: #FFFFFF;
            }
        }
    }
}